:root {
    --primary: #ffb703;
    --primary-dark: #fb8500;
    --dark: #023047;
    --secondary: #219ebc;
    --secondary-light: #8ecae6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navigation Bar */
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--primary);
    height: 80px;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar .logo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 40px;
}

.navbar a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Sections */
.header, #about, #service, #contact {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 75px; 
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar .logo {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

/* Header or Home */
.header {
    background-image: url('image/Moon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 1;
    padding-top: 75px; 
}

.header h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--secondary);
    line-height: 1.2;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.header p {
    margin-top: 15px;
    align-self: center;
    color: #fff;
    font-size: 1.2rem;
}

.header button {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    width: 215px;
    height: 50px;
    border-radius: 15px;
    align-self: center;
    border: none;
    background-color: var(--secondary);
    color: var(--dark);
}

.header button:hover {
    background-color: var(--primary);
}

.header .header-img {
    max-width: 350px;
    margin-left: 120px;
    transition: transform 0.2s ease;
}

.header .header-img:hover {
    transform: scale(1.1);
}

.header .container {
    margin-top: 130px;
    display: flex;
    align-items: center;
}

.header .container .head-left-side {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* ABOUT */
#about {
    background-image: url('image/Moon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 1;
    padding-top: 75px;
}

#about .container {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

#about .container .about-img {
    max-width: 400px;
    margin-right: 120px;
    transition: transform 0.2s ease;
}

#about .container .about-img:hover {
    transform: scale(1.1);
}

#about .container .about-right-side {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#about .container .about-right-side h1 {
    font-size: 45px;
    font-weight: 600;
    align-self: center;
    color: var(--secondary-light);
    margin-bottom: 20px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#about .container .about-right-side h1::after {
    content: '';
    background: var(--secondary-light);
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

#about .container .about-right-side button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    align-self: center;
    border: none;
    background-color: var(--secondary);
    color: var(--dark);
}

#about .container .about-right-side button:hover {
    background-color: var(--primary);
}

#about .container .about-right-side p {
    margin-top: 30px;
    padding: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}

/* SERVICE */
#service {
    background-image: url('image/Moon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 75px;
}

#service .container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#service .container .boxes {
    margin: 70px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
}

#service .container .boxes .box {
    margin-top: 10px;
    text-align: center;
    padding: 35px 30px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s;
    background-color: var(--secondary-light);
    background-color: rgba(0, 0, 0, 0.4);
}

#service .container .boxes .box i {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--primary);
}

#service .container .boxes .box h3 {
    color: var(--primary);
}

#service .container .boxes .box p {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    text-align: justify;
}

#service .container .boxes .box:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.08);
}

#service .container h1 {
    font-size: 45px;
    font-weight: 600;
    align-self: center;
    color: var(--secondary-light);
    margin-bottom: 20px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#service .container h1::after {
    content: '';
    background: var(--secondary-light);
    width: 120px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

/* CONTACT */
#contact {
    background-image: url('image/Moon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

#contact h1 {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 600;
    align-self: center;
    color: var(--secondary-light);
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#contact h1::after {
    content: '';
    background: var(--secondary-light);
    width: 120px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

#contact .container {
    margin-top: 50px;
    display: flex;
}

/* Form Design */
#contact .container .contact-form {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contact .container .contact-form .contact-sendmsg {
    margin-bottom: 20px;
    color: #1A2130;
}

#contact .container .contact-form .input-box {
    margin-bottom: 20px;
}

#contact .container .contact-form .input-box input,
#contact .container .contact-form .input-box textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

#contact .container .contact-form .submit {
    background-color: #ffbe00;
    color: #1A2130;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#contact .container .contact-form .submit:hover {
    background-color: var(--primary-dark);
}

#contact .container .contact-form .input-box span {
    font-size: 14px;
    color: #1A2130;
    margin-top: 5px;
    display: block;
    text-align: start;
}

/* Right Side */
.contact-icon {
    margin-top: 45px;
    margin-bottom: 40px;
}

.contact-icon i {
    font-size: 25px;
    color: #ffbe00; 
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}

.contact-text h3 {
    font-size: 20px;
    color: #ffbe00;
}

.contact-text p {
    font-size: 17px;
    color: #f6eada;
}

